body {
  background-color: rgb(161, 159, 159);
  background-size: cover;
  opacity: 0.9;
}
.bmi-cal .container {
  background-color: white;
  border-radius: 40px;
  padding: 0px;
  margin-top: 100px;
}
.bmi-cal input {
  /* background-color: #ff5b5b; */
  border: none;
  /* color: wheat; */
}
#resultcal {
  color: black;
  padding-top: 0.5rem;
}
.left-data {
  background-color: #ff5b5b;
  /* border-color: #ff5b5b; */
  opacity: 0.9;
  text-align: center;
  border-top-left-radius: 30px;
  height: 100%;
}
.pie-chart {
  height: 100%;
  border-bottom-right-radius: 30px;
  text-align: center;
}
/* canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
} */
